# Frontend
/frontend/node_modules

# Backend
/backend/f1_data.db
/backend/__pycache__

# IDE and OS files
.DS_Store
.env
.vscode/

# Git specific files within subfolders (to address the user's request to remove traces of git repos within subfolders)
/frontend/.git/